{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container red">
    <h1 class="center-align white-text p-5">Content Review Mode</h1>
    <br>
    {% for i in languages %}
        <a href="{% url 'modules' i.url %}">
            {% if i.url == 'L' %}
                <img src="{% static '/assets/img/Quickstart-Guide-InContext-V3.png' %}"  alt="Quickstart" class="responsive-img">
            {% else %}
                <img src="{% static i.image_url %}"  alt="{{i.lang_name}}" class="responsive-img">
            {% endif %}            
        </a>
    {% endfor %}
</div>
{% endblock %}